[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
        branch = v2.x
[submodule "3rdparty/cmake-modules"]
	path = 3rdparty/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "3rdparty/GALGO-2.0"]
	path = 3rdparty/GALGO-2.0
	url = git@github.com:dedicate-project/GALGO-2.0.git
